.header-right {
  display: flex;
  align-items: center;
}

.header-right-music {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.header-right-music-icon {
  display: inline-block;
  margin-right: 6px;
  height: 12px;
}

.header-right-music-title {
  font-size: 12px;
}

.header-right-catalog {
  position: relative;
  display: inline-block;
}

.header-right-catalog button {
  background: transparent;
  color: #fff;
  border: 1px solid;
  padding: .5rem 1.2rem;
}

.header-right-catalog .icon-doulist:before {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxNnB4IiB2aWV3Qm94PSIwIDAgMTcgMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQxLjIgKDM1Mzk3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5kb3VsaXN0IGNvcHkgMzwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxkZWZzPjwvZGVmcz4KICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSLor7vkuaYt5YaF5a65LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xMTk5LjAwMDAwMCwgLTI2LjAwMDAwMCkiPgogICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTE3Ni4wMDAwMDAsIDE2LjAwMDAwMCkiPgogICAgICAgICAgICAgICAgPGcgaWQ9ImRvdWxpc3QtY29weS0zIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMy4wMDAwMDAsIDEwLjAwMDAwMCkiPgogICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC0zOSI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yLjYzOTgzNjI3LDkuNzM2NTc2NzIgQzMuNTk1NzEzNzMsOS43MzY1NzY3MiA0LjM3MDYwNTUxLDguOTQ2MTg3MTEgNC4zNzA2MDU1MSw3Ljk3MTE5MjExIEM0LjM3MDYwNTUxLDYuOTk2MTk3MTEgMy41OTU3MTM3Myw2LjIwNTgwNzQ5IDIuNjM5ODM2MjcsNi4yMDU4MDc0OSBDMS42ODM5NTg4Miw2LjIwNTgwNzQ5IDAuOTA5MDY3MDQ0LDYuOTk2MTk3MTEgMC45MDkwNjcwNDQsNy45NzExOTIxMSBDMC45MDkwNjcwNDQsOC45NDYxODcxMSAxLjY4Mzk1ODgyLDkuNzM2NTc2NzIgMi42Mzk4MzYyNyw5LjczNjU3NjcyIFoiIGlkPSJPdmFsLTM1IiBmaWxsPSIjRkZGRkZGIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik0yLjYzOTgzNjI3LDE1LjczNjU3NjcgQzMuNTk1NzEzNzMsMTUuNzM2NTc2NyA0LjM3MDYwNTUxLDE0Ljk0NjE4NzEgNC4zNzA2MDU1MSwxMy45NzExOTIxIEM0LjM3MDYwNTUxLDEyLjk5NjE5NzEgMy41OTU3MTM3MywxMi4yMDU4MDc1IDIuNjM5ODM2MjcsMTIuMjA1ODA3NSBDMS42ODM5NTg4MiwxMi4yMDU4MDc1IDAuOTA5MDY3MDQ0LDEyLjk5NjE5NzEgMC45MDkwNjcwNDQsMTMuOTcxMTkyMSBDMC45MDkwNjcwNDQsMTQuOTQ2MTg3MSAxLjY4Mzk1ODgyLDE1LjczNjU3NjcgMi42Mzk4MzYyNywxNS43MzY1NzY3IFoiIGlkPSJPdmFsLTM1LUNvcHktMiIgZmlsbD0iI0ZGRkZGRiI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMi42Mzk4MzYyNywzLjczNjU3NjcyIEMzLjU5NTcxMzczLDMuNzM2NTc2NzIgNC4zNzA2MDU1MSwyLjk0NjE4NzExIDQuMzcwNjA1NTEsMS45NzExOTIxMSBDNC4zNzA2MDU1MSwwLjk5NjE5NzEwOCAzLjU5NTcxMzczLDAuMjA1ODA3NDkzIDIuNjM5ODM2MjcsMC4yMDU4MDc0OTMgQzEuNjgzOTU4ODIsMC4yMDU4MDc0OTMgMC45MDkwNjcwNDQsMC45OTYxOTcxMDggMC45MDkwNjcwNDQsMS45NzExOTIxMSBDMC45MDkwNjcwNDQsMi45NDYxODcxMSAxLjY4Mzk1ODgyLDMuNzM2NTc2NzIgMi42Mzk4MzYyNywzLjczNjU3NjcyIFoiIGlkPSJPdmFsLTM1LUNvcHkiIGZpbGw9IiNGRkZGRkYiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTYuOTk5MTQ1NTEsMiBMMTcuMDAzNjYyMSwyIiBpZD0iTGluZSIgc3Ryb2tlPSIjRkZGRkZGIiBzdHJva2Utd2lkdGg9IjIiPjwvcGF0aD4KICAgICAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTcuMDE3NTc4MTIsOCBMMTYuOTc4MTQ5NCw4IiBpZD0iTGluZS1Db3B5LTUiIHN0cm9rZT0iI0ZGRkZGRiIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwYXRoIGQ9Ik03LjA2NDA0MDE4LDE0IEwxNy4wMDM1NCwxNCIgaWQ9IkxpbmUtQ29weS02IiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgogICAgICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
}
