.category {
  font-size: 3rem;
}

@media (max-height: 800px) {
  .category {
    font-size: 2.5rem;
  }
}

@media (max-height: 700px) {
  .category {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 414px) {
  .category {
    font-size: 1.8rem;
  }
}
